Source: ros-kinetic-topological-utils
Section: misc
Priority: extra
Maintainer: Jaime Pulido Fentanes <jpulidofentanes@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-generation, ros-kinetic-mongodb-store, ros-kinetic-rospy, ros-kinetic-topological-navigation, ros-kinetic-visualization-msgs
Homepage: https://github.com/strands-project/strands_navigation
Standards-Version: 3.9.2

Package: ros-kinetic-topological-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-geometry-msgs, ros-kinetic-message-runtime, ros-kinetic-mongodb-store, ros-kinetic-rospy, ros-kinetic-topological-navigation, ros-kinetic-visualization-msgs
Description: The topological_utils package
