Source: ros-melodic-topological-logging-manager
Section: misc
Priority: optional
Maintainer: cdondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-rosparam, ros-melodic-rospy, ros-melodic-std-msgs, ros-melodic-strands-navigation-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-topological-logging-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-message-runtime, ros-melodic-rosparam, ros-melodic-rospy, ros-melodic-std-msgs, ros-melodic-strands-navigation-msgs
Description: The topological_logging_manager package
